<settings>
  <setting propertyKey="@Properties.SecondaryDisplay" title="@Strings.SecondaryDisplay">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Steps</listEntry>
      <listEntry value="1">@Strings.Weather</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.Units" title="@Strings.Units">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Celsius</listEntry>
      <listEntry value="1">@Strings.Fahrenheit</listEntry>
    </settingConfig>
  </setting>  
  <setting propertyKey="@Properties.ApiKey" title="@Strings.ApiKey" helpUrl="https://openweathermap.org/api">
    <settingConfig type="alphaNumeric"></settingConfig>
  </setting>
</settings>
